
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

h1 {
    font-size: 2.5em;
}


.layout {
    display: flex;
}

.container {
    margin-left: 220px; 
    padding: 40px;
    display: flex;
    flex-wrap: wrap; 
}

.box {
    background-color: #00f; 
    color: white;
    padding: 20px;
    margin: 5px;
    margin-right: 100px;
    width:400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 8, 0.1);
}
.box4 {
    background-color: #00f; 
    color: white;
    padding: 20px;
    margin: 5px;
    margin-left: -80px;
    width:400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 8, 0.1);
}
.box1 {
    width: 800px;
    height: 200px;
    background-color: #00f;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    color: #ffff;
}


h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #f9dcdc;
}

p {
    font-size: 1em;
    line-height: 1.6;
}

.formula {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    font-size: 1.1em;
}



.box3{ width: 400px;
    height: 800px;
    background-color: #00f;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    color: #ffff;
    margin-left: 500px;


}