* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --azul:#0044AC; 
    --vermelho:#FF0122;
    --laranja:#FFA100;
    --roxo:#A020F0;
    --rosa:#FF69B4;
    --clarinho:#F1F1F1;
    --verde:#90EE90;
    --verde2:#9ACD32;
    --preto: #000;
    --preto2: #111;
    --preto3: #444;
}

header {
    display: flex;
    width: 100%;
    height: 250px;
    background-color: var(--preto3); 
}

header .menu {
    width: 100%;
    height: 60px;
    background-color: #000;
    margin-top: 200px;
}